body {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

h1 {
    color: #fff;
    text-shadow: 0 0 25px black;
    margin: 10px 0;
    font-size: 35px;
}

canvas {
    background-color: green;
    border: 3px solid #f50;
    box-shadow: 0 0 25px black;
    display: block;
}
