body {
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 0 0 25px black;
    font-size: 45px;
}
  
canvas {
    border: 3px solid #f50;
    background-color: black;
}